In [1]:
import matplotlib.pyplot as plt
from sklearn import datasets
from sklearn.cluster import KMeans
import sklearn.metrics as sm
 
import pandas as pd
import numpy as np
 
# Only needed if you want to display your plots inline if using Notebook
# change inline to auto if you have Spyder installed
%matplotlib inline

In [13]:
cols = ["V1","V2","V3","V4","V5","V6","V7","V8","V9","V10","V11","V12","V13","V14","V15","V16","V17","V18","V19","V20","V21","V22","V23","V24","V25","V26","V27","V28","V29","V30","V31","V32","V33","V34","V35","V36"]

In [3]:
data = pd.read_csv('mydata.csv')
#data = data[1:]

In [4]:
stats = data.describe()
stats

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,V36
count,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,...,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000,5100.000000
mean,73.092157,91.578431,99.568627,79.827059,72.957843,91.425686,99.357843,79.643725,72.608039,90.861765,...,99.244902,79.695686,72.590588,91.187843,99.207451,79.615294,72.357647,90.856667,98.984510,79.492941
std,11.876090,16.038819,15.611375,13.513639,11.772122,15.823086,15.585557,13.447272,11.716109,16.071067,...,15.721836,13.749900,11.815466,15.915964,15.735910,13.626149,11.711489,15.921349,15.712095,13.707023
min,41.000000,28.000000,62.000000,44.000000,42.000000,29.000000,62.000000,46.000000,42.000000,29.000000,...,60.000000,44.000000,41.000000,27.000000,62.000000,42.000000,40.000000,27.000000,50.000000,29.000000
25%,64.000000,79.000000,87.000000,70.000000,64.000000,79.000000,86.000000,69.000000,64.000000,79.000000,...,86.000000,69.000000,64.000000,79.000000,86.000000,69.000000,64.000000,79.000000,86.000000,68.000000
50%,71.000000,92.000000,101.000000,81.000000,71.000000,92.000000,101.000000,81.000000,71.000000,91.000000,...,101.000000,81.000000,71.000000,91.500000,101.000000,81.000000,71.000000,91.000000,100.000000,81.000000
75%,84.000000,106.000000,113.000000,90.000000,83.000000,106.000000,113.000000,90.000000,83.000000,104.000000,...,113.000000,90.000000,83.000000,104.000000,113.000000,90.000000,82.000000,104.000000,112.000000,90.000000
max,104.000000,137.000000,139.000000,144.000000,104.000000,137.000000,139.000000,157.000000,104.000000,130.000000,...,139.000000,151.000000,104.000000,130.000000,139.000000,151.000000,104.000000,130.000000,138.000000,147.000000

In [14]:
#data.loc[[100, 1000, 5000],:]

In [15]:
# To look at the data and since its big, I can use quartiles to highlight some values that are quite outliers

In [23]:
# example with feature V1, where quartile V1 = 64 (according to stats above)
v1_q1 = 64.0
display(data.loc[data.V1 < v1_q1, :].tail())

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,V36
5068,53,68,83,70,56,71,79,74,56,75,...,88,74,52,79,92,74,56,75,92,74
5069,56,71,79,74,56,75,87,74,56,75,...,92,74,56,75,92,74,56,79,96,78
5073,60,83,100,85,64,83,96,81,60,87,...,100,85,59,87,96,81,66,96,104,89
5075,60,87,104,85,60,91,108,85,64,91,...,104,89,70,104,117,92,70,109,117,96
5095,60,83,100,81,60,83,96,85,64,87,...,96,85,66,91,104,92,66,87,108,89

In [25]:
# example with feature V3, where quartile V3 = 87 (according to stats above)
v3_q1 = 87.0
display(data.loc[data.V3 < v1_q1, :])
# here the sample is more interesting because there are less outliers

,V1,V2,V3,V4,V5,V6,V7,V8,V9,V10,...,V27,V28,V29,V30,V31,V32,V33,V34,V35,V36
35,55,54,63,46,59,51,67,46,59,51,...,72,49,56,51,62,45,56,54,65,45
3307,63,66,62,57,63,63,65,53,63,66,...,82,68,68,77,74,61,68,77,74,65